.cm-bar button {
    color: rgba(255, 255, 255, 0.8);
}
.cm-reply-text textarea {
    background-color: rgba(255, 255, 255, 0.6) !important;
}
.cm-fo-pre .cm-comment {
    background-color: rgba(0, 0, 0, 0.6) !important;
}
.cm-article .cm-reply .cm-reply-ctrl .cm-smile-box {
    background-color: rgba(0, 0, 0, 0.8) !important;
}
.cm-article .cm-reply .cm-reply-ctrl .cm-smile-box span:hover {
    color: #99f !important;
}
@media (max-width: 800px) {
    .cm-article .cm-comment-child {
        background-color: none !important;
        border-left: 0.1em solid rgba(127, 127, 127, 0.5);
    }
}