.hard-to-see {
    opacity: 0.1;
}
.hard-to-see:hover {
    opacity: unset;
}
.visible {
    visibility: visible !important;
    display: unset !important;
}
.transparent {
    opacity: 0;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.overflow-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}
.comment::after {
    content: " ··· ";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    color: #060;
}