.blackbar {
    background-color: black;
    color: black;
}
.visible {
    visibility: visible !important;
    display: unset !important;
}
.transparent {
    opacity: 0;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}