#loading {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.2s;
}

#loading.show {
    opacity: 1;
    pointer-events: all;
    transition-delay: 0.1s;
}

#dotContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 8em;
    height: 8em;
    transform: translate(-50%, -50%) scale(0.4);
}

#loading .loading-dot {
    position: absolute;
    opacity: 0;
    width: 8em;
    height: 8em;
}

#loading.show .loading-dot {
    animation: Circle 5s infinite;
}

#loading .loading-dot::before {
    content: "";
    position: absolute;
    top: 0;
    border-radius: 50%;
    width: 0.8em;
    height: 0.8em;
}

@keyframes Circle {
    0% { transform: rotate(-180deg); opacity: 0; animation-timing-function: cubic-bezier(0, 0, 0, 0.7); }
    8% { transform: rotate(-60deg); opacity: 1; animation-timing-function: linear; }
    32% { transform: rotate(40deg); animation-timing-function: cubic-bezier(0.65, 0.2, 0.35, 0.8); }
    49% { transform: rotate(300deg); animation-timing-function: linear; }
    73% { transform: rotate(400deg); opacity: 1; animation-timing-function: cubic-bezier(0.5, 0.15, 0.85, 0.35); }
    80% { transform: rotate(530deg); opacity: 0; }
}

#loading.show #dot1 {
    animation-delay: 0.1s;
}
#loading.show #dot2 {
    animation-delay: 0.25s;
}
#loading.show #dot3 {
    animation-delay: 0.4s;
}
#loading.show #dot4 {
    animation-delay: 0.55s;
}
#loading.show #dot5 {
    animation-delay: 0.7s;
}

#dot1::before, #dot5::before {
    background-color: #5bcefa;
}
#dot2::before, #dot4::before {
    background-color: #f5a9b8;
}
#dot3::before {
    background-color: white;
}