/* 全局 */

html {
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 150%;
    font-weight: lighter;
    text-shadow: 0.05em 0.05em 0.2em black !important;
    color: rgba(255, 255, 255, 0.8);
    cursor: default;
    /* user-select */
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
body {
    background-color: black;
    transition: background-color 5s linear;
    /*display: flex;*/
    margin: 0;
}
*::selection {
    background-color: rgba(127, 127, 127, 0.5);
}

/* 元素 */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: initial;
    margin-bottom: initial;
}
h1 {
    font-size: 220%;
}
h2 {
    font-size: 190%;
}
h3 {
    font-size: 165%;
}
h4 {
    font-size: 145%;
}
h5 {
    font-size: 130%;
}
h6 {
    font-size: 120%;
}
a {
    text-decoration: none;
    color: rgba(223, 223, 255, 0.8);
    text-shadow: 0.05em 0.05em 0.2em blue;
}
a:hover {
    background-color: rgba(127, 127, 127, 0.4);
}
a:active {
    background-color: rgba(127, 127, 127, 0.8);
}
button,
button::before {
    color: rgba(223, 223, 255, 0.8);
    text-shadow: 0.05em 0.05em 0.2em black;
}

/* 类 */

.service::before {
    content: "@";
}
.service {
    opacity: 0.8;
    font-size: 60%;
}
.avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /*display: none;*/
    opacity: 0;
    transform: rotate(180deg);
    position: absolute;
}
.clockwise-in {
    animation: rotate-in-clockwise 300ms linear;
    opacity: 1;
    transform: rotate(0deg);
}
.counter-clockwise-in {
    animation: rotate-in-counter-clockwise 300ms linear;
    opacity: 1;
    transform: rotate(0deg);
}
.clockwise-out {
    animation: rotate-out-clockwise 300ms linear;
    transform: rotate(0deg);
}
.counter-clockwise-out {
    animation: rotate-out-counter-clockwise 300ms linear;
    transform: rotate(0deg);
}
.text-button {
    padding: 0.2em;
}
.text-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.text-button:active {
    background-color: rgba(0, 0, 0, 0.5);
}
.navigate-list ul,
.navigate-list ol {
    margin-top: 0;
}
.navigate-list li {
    display: block;
}

/* ID */

#footer {
    font-size: 60%;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0 0.4rem 0.35rem 0;
    text-align: right;
    pointer-events: none;
}
#footer span {
    display: inline-block;
    pointer-events: auto;
}
#footerBackground {
    position: absolute;
    right: 0;
    bottom: 0;
    border-left: 21em solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 9em solid rgba(0, 0, 0, 0.6);
    z-index: -1;
    pointer-events: none !important;
}
#avatarContainer {
    position: absolute;
    width: 12em;
    height: 12em;
    border-radius: 50%;
    overflow: hidden;
    /* WebKit Hack */
    /*-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);*/
}
#avatarController {
    display: inline-block;
    width: 100%;
    height: 12em;
    position: relative;
    font-family: "Times New Roman", serif;
}
#avatarPrevious {
    position: absolute;
}
#avatarNext {
    position: absolute;
    right: 0;
}
#nickname {
    text-align: center;
}
#left {
    position: fixed;
    width: 14em;
    height: 100%;
    /*flex: 10em 0 0;*/
    padding: 1em;
    top: 0;
    box-sizing: border-box;
    overflow-y: auto;
}
#main {
    margin-left: 16em;
}
#tip {
    font-weight: normal;
    font-size: 65%;
}
#homeIcon {
    /*display: table-cell;*/
    text-align: center;
    /*vertical-align: middle;*/
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 6em;
    line-height: 2em;
}
#homeIcon:hover,
#homeIcon:active {
    background-color: unset;
}
#homeButton {
    /*display: table;*/
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 200ms linear;
}
#homeButton:hover {
    opacity: 1;
}
#comment {
    margin-top: 3em;
}
#comment-header {
    font-size: 200%;
}
#backgroundContainer {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
#background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

/* 关键帧 */

@keyframes rotate-in-clockwise {
    0% {
        transform: rotate(-180deg);
        opacity: 0;
    }
    100% {
        transform: rotate(0);
        opacity: 1;
    }
}
@keyframes rotate-out-clockwise {
    0% {
        transform: rotate(0);
        opacity: 1;
    }
    100% {
        transform: rotate(180deg);
        opacity: 0;
    }
}
@keyframes rotate-in-counter-clockwise {
    0% {
        transform: rotate(180deg);
        opacity: 0;
    }
    100% {
        transform: rotate(0);
        opacity: 1;
    }
}
@keyframes rotate-out-counter-clockwise {
    0% {
        transform: rotate(0);
        opacity: 1;
    }
    100% {
        transform: rotate(-180deg);
        opacity: 0;
    }
}