/* 全局 */

html {
    font-family: "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
    font-size: 150%;
    font-weight: lighter;
    text-shadow: 1px 1px 2px black !important;
    color: rgba(255, 255, 255, 0.8);
    cursor: default;
    /* user-select */
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    transition: color 1s, text-shadow 1s;
}
body {
    background-color: black;
    transition: background-color 5s linear;
    /*display: flex;*/
    margin: 0;
}
*::selection {
    background-color: rgba(255, 159, 223, 0.8);
}

/* 元素 */

input,
textarea,
select {
    font: inherit;
    text-shadow: inherit;
    color: inherit;
    background-color: inherit;
    border: inherit;
    outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: initial;
    margin-bottom: initial;
}
h1 {
    margin-top: 0.5em;
    font-size: 220%;
}
h2 {
    font-size: 175%;
}
h3 {
    font-size: 150%;
}
h4 {
    font-size: 125%;
}
h5 {
    font-size: 110%;
}
h6 {
    font-size: 100%;
}
hr {
    border: 1px solid rgba(127, 127, 127, 0.5);
}
pre {
    white-space: pre-wrap;
}
code {
    font-size: 0.9em;
    font-weight: normal;
    line-height: 120%;
    border: 0.1em solid rgba(127, 127, 127, 0.5);
    border-radius: 0.5em;
    background-color: rgba(63, 63, 63, 0.33);
    display: inline-block;
    padding: 0.2em 0.5em;
    /*margin: 0.2em 0;*/
    text-shadow: 1px 1px 1px black !important;
}
blockquote {
    display: inline-block;
    padding: 0.2em 0.2em 0.2em 0.5em;
    border-left: 0.2em solid rgba(255, 127, 255, 1);
    background-color: rgba(63, 63, 63, 0.33);
}
blockquote>p {
    margin: 0;
}
a {
    text-decoration: none;
    color: rgba(191, 191, 255, 0.8);
    text-shadow: 1px 1px 2px blue;
    transition: all 0.3s;
}
a:hover,
a:focus {
    /*background-color: rgba(127, 127, 127, 0.5);*/
    color: rgba(255, 223, 255, 0.8);
    text-shadow: 1px 1px 2px #ff7fff;
    transition: all 0.3s;
}
a:active {
    /*background-color: rgba(127, 127, 127, 0.8);*/
    color: rgba(255, 191, 191, 0.8);
    text-shadow: 1px 1px 2px red;
    transition: all 0.3s;
}
table {
    border-collapse: collapse;
}
table>thead>tr:last-child>th {
    font-weight: bold;
    border-bottom: 3px solid rgba(127, 127, 127, 0.5);
}
table>tbody>tr>td {
    border-top: 1px solid rgba(127, 127, 127, 0.5);
}
table>tbody>tr:nth-of-type(odd)>td {
    background-color: rgba(127, 127, 127, 0.25);
}
table td,
table th {
    padding: 0.4rem 1rem;
}
button,
button::before {
    color: rgba(223, 223, 255, 0.8);
    text-shadow: 1px 1px 2px black;
}
date {
    margin-left: 0.2em;
    display: inline-block;
    opacity: 0.6;
    font-size: 50%;
}
date::before {
    content: "schedule";
    vertical-align: middle;
    font-size: 120%;
    margin-right: 0.2em;
    /* Copied from material-icons.css */
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}
article>h1:first-of-type {
    /* To avoid the setting button
     *
     * + content 2rem
     * + padding 0.2em * 2 == 0.4rem * 2 == 0.8rem
     * + parent margin 2rem
     * - main margin 1rem
     */
    margin-right: 3.8rem;
}

/* 类 */

.background-tile {
    background-repeat: repeat;
    background-size: initial;
}
.anchor-disabled,
.anchor-disabled:hover,
.anchor-disabled:focus,
.anchor-disabled:active {
    cursor: default;
    color: rgba(127, 127, 127, 0.8);
    text-shadow: 1px 1px 2px gray;
    pointer-events: none;
}
.service::before {
    content: "— ";
}
.service {
    opacity: 0.8;
    font-size: 70%;
}
.avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /*display: none;*/
    opacity: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
}
.clockwise-in {
    animation: rotate-in-clockwise 300ms;
    opacity: 1;
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
.counter-clockwise-in {
    animation: rotate-in-counter-clockwise 300ms;
    opacity: 1;
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
.clockwise-out {
    animation: rotate-out-clockwise 300ms;
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
.counter-clockwise-out {
    animation: rotate-out-counter-clockwise 300ms;
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
.text-button {
    display: inline-block;
    text-align: center;
    padding: 0.2em;
    border-radius: 50%;
}
.text-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.text-button:active {
    background-color: rgba(0, 0, 0, 0.5);
}
.navigate-list ul,
.navigate-list ol {
    margin-top: 0;
}
.navigate-list li {
    display: block;
}
.article {
    border-bottom: 0.1em solid rgba(127, 127, 127, 0.2);
    padding: 0.75em 0;
}
.article>h2 {
    margin: 0;
    font-size: 1.5em;
    display: inline-block;
    width: calc(100% - 8rem);
    vertical-align: middle;
}
.article>date {
    margin: 0;
    padding-right: 0.5rem;
    font-family: monospace;
    box-sizing: border-box;
    width: 8rem;
    text-align: right;
    font-size: 1.2em;
    white-space: pre;
}
.article>date::before {
    content: initial;
    margin-right: 0;
}
.page-control {
    margin-top: 0.5em;
    text-align: center;
}
.page-control>a {
    font-size: 120%;
    margin: 0.5em;
}
.bginfo-label {
    text-align: right;
    width: 2.5em;
    vertical-align: top;
    font-weight: bold;
}
.bginfo-content {
    width: calc(100% - 2.5em);
    display: inline-block;
}
.setting-hide {
    -webkit-transform: translateY(calc(-100% - 2rem));
    transform: translateY(calc(-100% - 2rem));
}

/* 单个元素 */

footer {
    font-size: 60%;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0 0.4rem 0.35rem 0;
    text-align: right;
    pointer-events: none;
}
footer span {
    display: inline-block;
    pointer-events: auto;
}
#footerBackground {
    position: absolute;
    right: 0;
    bottom: 0;
    border-left: 21em solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 9em solid rgba(0, 0, 0, 0.6);
    z-index: -1;
    pointer-events: none !important;
    transition: border-bottom-color 1s;
}
#avatarContainer {
    position: relative;
    width: 11.333em;
    height: 11.333em;
    margin: 0 auto;
    margin-top: 3em;
    border-radius: 50%;
    overflow: hidden;
    /* WebKit Hack */
    /*-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);*/
}
#avatarController {
    display: inline-block;
    width: 100%;
    height: 15em;
    position: relative;
    animation: avatar-floating 2s ease-in-out infinite alternate;
}
#avatarController>svg,
#avatarController>object[type="image/svg+xml"] {
    width: 12em;
    height: 14em;
    position: absolute;
}
#headband {
    z-index: 1;
    pointer-events: none;
}
#nickname {
    text-align: center;
}
header {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 14em;
    height: 100vh;
    /*flex: 10em 0 0;*/
    top: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    transition: transform 0.5s;
}
header.hide {
    transform: translateX(-14em);
}
header::-webkit-scrollbar {
    width: 0;
}
header ul {
    padding-left: 0.5em;
}
header li {
    margin-top: 0.2em;
}
#masterNav {
    position: relative;
    height: 100%;
    padding: 1em 1em 4em;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-mask: linear-gradient(to bottom, transparent, black 4em, black calc(100% - 4em), transparent 100%);
    mask: linear-gradient(to bottom, transparent, black 4em, black calc(100% - 4em), transparent 100%);
}
#masterNavContainer {
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    overflow: hidden;
    transition-property: flex-grow, margin-bottom, opacity, transform;
    transition-duration: 0.5s, 0.5s, 0.4s, 0.4s;
}
#masterNavContainer.collapse {
    flex-grow: 0;
    margin-bottom: 3em;
    opacity: 0;
    transform: scale(0.75);
}
#titlePanelHeader {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: 0.5em;
}
#titlePanelHeader:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
#titlePanelHeader:active {
    background-color: rgba(0, 0, 0, 0.5);
}
#titlePanelHeaderText {
    flex-grow: 1;
    margin-left: 0.5em;
    font-weight: normal;
}
#titlePanelExpandIcon {
    margin-left: auto;
}
#titlePanel {
    position: relative;
    height: 0;
    font-size: 70%;
    scroll-behavior: smooth;
    overflow: visible !important;
}
#titlePanel.expand {
    height: unset;
    overflow: hidden !important;
}
#titlePanel ol {
    counter-reset: item;
    padding-left: 1em;
}
#titlePanel li {
    display: block;
}
#titlePanel li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
}
main {
    margin-left: 13em;
    padding: 0 1em 0 2em;
    box-sizing: border-box;
    overflow-x: hidden;
    -webkit-user-select: text;
    user-select: text;
    transition: opacity 0.2s;
}
main.hide {
    opacity: 0;
}
main.expand {
    margin-left: 0;
}
#tip {
    margin-top: 3em;
    font-size: 80%;
    /*height: 7em;*/
}
#homeIcon {
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 6em;
    line-height: 2em;
}
#homeButton {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 200ms linear;
}
#homeButton:hover {
    opacity: 1;
}
#homeButton:focus-within {
    opacity: 1;
}
#comment {
    margin-top: 3em;
}
#comment-header {
    font-size: 200%;
}
#background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    transition-property: opacity, filter;
    transition-duration: 1s;
}
#recentPosts {
    font-size: 75%;
}
#bginfo {
    font-size: 80%;
}
#setting {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1rem;
    height: calc(100% - 150px);
    box-sizing: border-box;
    pointer-events: none;
}
#settingIcon {
    position: absolute;
    right: 0;
    font-size: 2em;
    z-index: 1;
    pointer-events: initial;
    transition: transform 0.5s;
}
#settingPanel {
    font-size: 75%;
    padding: 0.5em 1em 1em;
    min-width: 10rem;
    max-height: 100%;
    box-sizing: border-box;
    box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.5);
    border-radius: 33.6px;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: initial;
    transition: transform 0.5s, background-color 1s;
    overflow: auto;
}
#settingHeader {
    margin: 0;
    font-weight: normal;
}
#navCollapseContainer {
    position: fixed;
    z-index: 1;
    pointer-events: none;
    width: 14em;
    text-align: center;
    margin: 0.5em 0;
}
#navCollapse {
    pointer-events: all;
    font-size: 150%;
}
#navExpand {
    position: fixed;
    top: 50%;
    transform: translate(-55%, -50%);
    padding: 0.1em 0 0.1em 1em;
    border-radius: 1000px;
    font-size: 200%;
    background: rgba(255, 255, 255, 0.4);
    transition: transform 0.2s;
}
#navExpand.hide {
    transform: translate(-100%, -50%);
}
#navExpand:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
#navExpand:active {
    background-color: rgba(0, 0, 0, 0.5);
}

/* 关键帧 */

@keyframes rotate-in-clockwise {
    0% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}
@keyframes rotate-out-clockwise {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        opacity: 0;
    }
}
@keyframes rotate-in-counter-clockwise {
    0% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}
@keyframes rotate-out-counter-clockwise {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        opacity: 0;
    }
}
@keyframes avatar-floating {
    0% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-15px);
    }
}

@media (max-width: 979px) {
    html {
        font-size: 100%;
    }
    h1 {
        font-size: 200%;
    }
    table {
        display: block;
        max-width: 100%;
        overflow: auto;
    }
    date {
        display: block;
        margin-top: 0.5em;
    }
    article>h1:first-of-type {
        margin: 2em 0 0;
    }
    header {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    }
    main {
        height: 100vh;
        padding-left: 1em;
        margin-left: 0;
        opacity: 0.2;
        transition: opacity 0.5s;
    }
    main.hide {
        opacity: 1;
    }
    main.expand {
        opacity: 1;
    }
    footer {
        visibility: collapse;
    }
    #navExpand {
        top: 1em;
    }
    #setting {
        position: absolute;
        margin: 0.5rem;
        height: calc(100% - 1rem);
    }
}
