/* 全局 */

html {
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 150%;
    font-weight: lighter;
    text-shadow: 0.05em 0.05em 0.2em black;
    color: rgba(255, 255, 255, 0.8);
    cursor: default;
    /* user-select */
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
body {
    background-color: black;
    transition: background-color 5s linear;
}
*::selection {
    background-color: rgba(127, 127, 127, 0.5);
}

/* 元素 */

a {
    text-decoration: none;
    color: inherit;
    text-shadow: 0.05em 0.05em 0.2em blue;
}
a:hover {
    background-color: rgba(127, 127, 127, 0.4);
}
a:active {
    background-color: rgba(127, 127, 127, 0.8);
}

/* 类 */

.service::before {
    content: "@";
}
.service {
    opacity: 0.8;
    font-size: 60%;
}
.avatar-img {
    width: 10em;
    height: 10em;
    /*display: none;*/
    opacity: 0;
    transform: rotate(180deg);
    position: absolute;
}
.clockwise-in {
    animation: rotate-in-clockwise 300ms linear;
    opacity: 1;
    transform: rotate(0deg);
}
.counter-clockwise-in {
    animation: rotate-in-counter-clockwise 300ms linear;
    opacity: 1;
    transform: rotate(0deg);
}
.clockwise-out {
    animation: rotate-out-clockwise 300ms linear;
    transform: rotate(0deg);
}
.counter-clockwise-out {
    animation: rotate-out-counter-clockwise 300ms linear;
    transform: rotate(0deg);
}
.text-button{
    padding: 0.2em;
}
.text-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.text-button:active {
    background-color: rgba(0, 0, 0, 0.5);
}

/* ID */

#footer {
    font-size: 60%;
    position: fixed;
    right: 1em;
    bottom: 1em;
    text-align: right;
}
#avatarContainer {
    position: absolute;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    overflow: hidden;
    /* WebKit Hack */
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
#avatarController {
    display: inline-block;
    width: 10em;
    height: 10em;
    position: relative;
    font-family: "Times New Roman", serif;
}
#avatarPrevious {
    position: absolute;
}
#avatarNext {
    position: absolute;
    right: 0;
}

/* 关键帧 */

@keyframes rotate-in-clockwise {
    0% {
        transform: rotate(-180deg);
        opacity: 0;
    }
    100% {
        transform: rotate(0);
        opacity: 1;
    }
}
@keyframes rotate-out-clockwise {
    0% {
        transform: rotate(0);
        opacity: 1;
    }
    100% {
        transform: rotate(180deg);
        opacity: 0;
    }
}
@keyframes rotate-in-counter-clockwise {
    0% {
        transform: rotate(180deg);
        opacity: 0;
    }
    100% {
        transform: rotate(0);
        opacity: 1;
    }
}
@keyframes rotate-out-counter-clockwise {
    0% {
        transform: rotate(0);
        opacity: 1;
    }
    100% {
        transform: rotate(-180deg);
        opacity: 0;
    }
}